<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd"
	bootstrap="vendor/autoload.php"
	executionOrder="depends,defects"
	requireCoverageMetadata="true"
	beStrictAboutCoverageMetadata="true"
	beStrictAboutOutputDuringTests="true"
	colors="true"
	displayDetailsOnTestsThatTriggerWarnings="false"
	displayDetailsOnTestsThatTriggerNotices="false"
	displayDetailsOnTestsThatTriggerDeprecations="false"
	displayDetailsOnTestsThatTriggerErrors="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
	failOnRisky="false"
	failOnWarning="false"
	failOnDeprecation="false"
	>
	
	<source>
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</source>

	<php>
		<env name="KERNEL_CLASS" value="Oka\PaginationBundle\Tests\AppKernel"/>
		<env name="DATABASE_URL" value="sqlite:///:memory:"/>
		<env name="MONGODB_URL" value="mongodb://root:root@localhost:27017"/>
		<env name="MONGODB_DB" value="db_name"/>
	</php>
	
	<testsuites>
		<testsuite name="default">
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
